<% include ../partials/header %>
<div class = "container">
    <div class = "container">
       <h2 class = "text-center" style = " margin: 15px auto">Add Comment to <%= site.name%> project</h2>
  </div>
 </div>
   <div class = "container-fluid" style = "width : 33%; margin: 28px auto">
   <form action="/sites/<%=site._id %>/comments" method="post">
    <input type="text" name = "comment[text]" placeholder = "your review" class = "form-control form-group">
    <button class = "btn btn-primary btn-block" class = "form-control form-group">submit</button>
    </form>
      <a href="/sites">back to sites</a>
</div>

<% include ../partials/footer %>
