<% include partials/header %>
    <div class="hbgstyle">
     <div class = "container home ">
        <header class="headerstyle"> Welcome To Awesome Homes</header>
        <a href="/sites" class= "btn btn-success">View All Homes</a>
     </div>
      </div>
    </div>
 <% include partials/footer %>