<% include ./partials/header %>
<div class="container width">
 <h1 class="text-center" style="margin-top:15px,">signup</h1>
 <div class ="container-fluid">
    <form action = "/signup" method="post">
     <div class="form-group"><input type = "text" name = "username" placeholder = "username" class= "form-control">
     </div>
     <div class="form-group"><input type = "password" name = "password" placeholder = "password" class= "form-control">
     </div>
     <div class="form-group">
       <input type = "submit" class= "form-control form-roup btn btn-success">
       <p></p>Have a account? <a href="/login">Login here</a></p>
     </div>
    <input type='hidden' name='_csrf' value='<%= csrfToken %>' >
</form>
 </div>
</div>
<% include ./partials/footer %>